
* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', arial;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    gap: 16px;
}

.navbar-left, .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font: 18px;
    padding: 10px;
    font-family: 0 px 100px 0px 0px;
}
   
.first-section {
    background-color: #1f2937;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

img {
    width: 500px;
    margin-bottom: 50px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text {
    font: 18px;
    color: #e5e7eb;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-right: 200px;
}

.content-left {
    display: flex; 
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 200px;
}

.button1 {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px #3882f6;
    /* to make rounded edges of button */
    border-radius: 10px;
    margin-top: 10px;
}

h2 {
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.second-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row-of-blue-divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
}

.blue-box {
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.p-second {
    text-align: center;
    font-size: 18px;
}

.third-section {
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-p1 {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.third-p2 {
    font-weight: bolder;
    font-size: 18px;
    margin-left: 500px;
}

.fourth-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882f6;
    width: 70%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.left-side {
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fourth-p1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.fourth-p2 {
    color: white;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.button2 {
    background-color: #3882f6;
    color: white;
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 4px;
    font-weight: bold;

}















