* {
    margin: 0;
    padding: 0;

}

body {
    font-family:'Roboto Slab', serif;
}

.header-logo {
    font: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 10px;
    gap: 16px;
}

.navbar-left, .navbar-right {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font: 18px;
}
   
.first-section {
    background-color: #1f2937;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

img {
    margin: 50px;
    width: 500px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondary-text {
    font: 18px;
    color: #e5e7eb
}

.content-left, .content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}





